body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

header {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}
 
#logo {
    width: 75px;
    height: 75px;
}

.nav {
    display: flex;
    color: #E5E7EB;
    list-style-type: none;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

.banner {
    background-color: #1f2937;
    display: flex;
    padding: 75px 0;
    gap: 75px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;

}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.text {
    color: #ffffff;
    max-width: 400px;
}

.text p {
    font-size: 18px;
    font-weight: light;
    color: #E5E7EB;
}

button {
    background-color: #3c82f6;
    color: #ffffff;
    padding: 4px 30px;
    border-radius: 10px;
    border-color: transparent;
}

#placeholder {
    display: flex;
    flex-shrink: 1;
    max-width: 400px;
    height: 200px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin: 40px 0;
}

div.card > p {
    width: 150px;
}

.card-img {
    width: 150px;
    height: 150px;
    border: 4px solid #3c82f6;
    border-radius: 5px;

}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    margin: 40px 0

}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

span {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 18px;
}

.publicity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin-bottom: 40px;

}

#cta-banner {
    max-width: 100%;
    height: auto;

}

footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}